
[flake8]
exclude = venv,.venv,.git,.tox,.eggs,docs,venv,bin,lib,deps,build,tests
# To work with Black
max-line-length = 88
# D100 Missing docstring
# D103 Missing docstring in public function
# E501: line too long
# W503: Line break occurred before a binary operator
# E203: Whitespace before ':'
# D202 No blank lines allowed after function docstring
# W504 line break after binary operator
ignore =
    D100
    D103
    E501
    W503
    E203
    D202
    W504